    <div class="card mb-3" style="max-width: 540px;">
        <div class="row justify-content-center ">
            <div class="col-2">
                <% if restaurant.image.attached? %>
                    <%= image_tag restaurant.image, hight: 60, width: 60 %>
                <% else %>
                    <img src="..." class="img-fluid rounded-start" alt="...">
                <% end %>  
            </div>

            <div class="col-6">
                <div class="card-body">
                <h6><%= link_to restaurant.name, restaurant_path(restaurant), class: "text-decoration-none text-reset" %></h6>

                </div>
            </div>

            <div class="col mt-2">
                <div class="card-body">
                  
                    <%= link_to edit_restaurant_path(restaurant), class: "btn btn-outline-info  mt-2", remote: true do %>
                       <i class="fa-solid fa-pen-clip"></i>
                    <% end %>
                 
                    <%= link_to restaurant, method: :delete, data: { confirm: "Are you sure "}, class: "btn btn-outline-danger bi bi-trash-fill mt-1", remote: true do %>
                      <i class="fa-solid fa-trash"></i>
                    <% end %>
                 
                </div>
            </div>
        </div>
    </div>
