@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
@import "reviews.scss";
@import "home.scss";
@import "restaurants.scss";

// External libraries
@import "bootstrap/scss/bootstrap";


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root{
  --main-color: #f0b30f;
}

.theme-text{
  color: var(--main-color);
}

.navbar-brand{
  color: var(--main-color)!important;
}

.act{
  color: var(--main-color)!important;
  border-bottom: 2px solid var(--main-color);
}

.navbar ul li a:hover{
  color: var(--main-color)!important;
  border-bottom: 1px solid var(--main-color);
}

.header{
  
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url("/assets/davide-cantelli-jpkfc5_d-DI-unsplash.jpg");
  width: 100%;
  height: 60vh;
  background-position: center;
  background-size: cover;
  position: relative;
}

.wave{
  position: absolute;
  bottom: 0px;
}

/*---------------------Search Bar------------------------------*/ 

.middle {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.middle h1{
  font-size: 50px;
}

.middleText {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 30px;
}

.search {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}

#searchForm {
  padding-left: 30px;
  width: 430px !important;
  height: 40px;
}

#searchBar{
  position: absolute;
  bottom: 90px;
  width:10px;
  height:10px;
  right:750px; 
}

i#searchBar {
  color: #097220;
}






