@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root{
  --main-color: #f0b30f;
}

.theme-text{
  color: var(--main-color);
}

.navbar-brand{
  color: var(--main-color)!important;
}

.act{
  color: var(--main-color)!important;
  border-bottom: 2px solid var(--main-color);
}

.navbar ul li a:hover{
  color: var(--main-color)!important;
  border-bottom: 1px solid var(--main-color);
}

.header{
  
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url("/assets/davide-cantelli-jpkfc5_d-DI-unsplash.jpg");
  width: 100%;
  height: 60vh;
  background-position: center;
  background-size: cover;
  position: relative;
}

.wave{
  position: absolute;
  bottom: 0px;
}

.middle {
  height: 40vh;
  width: 80%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.middle h1{
  font-size: 70px;
}


/* Zoom In #1 */
.hover01 figure {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover01 figure:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}


/*---------------------------Rating------------------------------*/

*{
  margin: 0;
  padding: 0;
}
.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}
.rate:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rate:not(:checked) > label {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:30px;
  color:#ccc;
}
.rate:not(:checked) > label:before {
  content: '★ ';
}
.rate > input:checked ~ label {
  color: #FFC700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #DEB217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #C59B08;
}

/*---------------------Icon color---------------------------- */

.orange {
  color:#FFA500
}

 






